let exception = XCTestExpectation.init(description: "headBucket exception");
let headBucketReq = QCloudHeadBucketRequest.init();
headBucketReq.bucket = "examplebucket-1250000000";
headBucketReq.finishBlock = {(result,error) in
    if error != nil{
        print(error!);
    }else{
        print( result!);
    }
    exception .fulfill();
}
QCloudCOSXMLService.defaultCOSXML().headBucket(headBucketReq);
self.wait(for: [exception], timeout: 100);