let putBucketVersioning = QCloudPutBucketVersioningRequest.init();
putBucketVersioning.bucket = "examplebucket-1250000000";

let config = QCloudBucketVersioningConfiguration.init();
config.status = .enabled;

putBucketVersioning.configuration = config;

putBucketVersioning.finishBlock = {(result,error) in
    if error != nil{
        print(error!);
    }else{
        print(result!);
    }}
QCloudCOSXMLService.defaultCOSXML().putBucketVersioning(putBucketVersioning);