let  getBucketCorsRes = QCloudGetBucketCORSRequest.init();
getBucketCorsRes.bucket = "examplebucket-1250000000";
getBucketCorsRes.setFinish { (corsConfig, error) in
    if error != nil{
        print(error!);
    }else{
        print(corsConfig!);
    }}
QCloudCOSXMLService.defaultCOSXML().getBucketCORS(getBucketCorsRes);