let putObjectACl = QCloudPutObjectACLRequest.init();
putObjectACl.bucket = "examplebucket-1250000000";
putObjectACl.object = "exampleobject";
let grantString = "id=\"1250000000\"";
putObjectACl.grantFullControl = grantString;
putObjectACl.finishBlock = {(result,error)in
    if error != nil{
        print(error!)
    }else{
        //可以从 outputObject 中获取 response 中 etag 或者自定义头部等信息
        print(result!);
    }}
QCloudCOSXMLService.defaultCOSXML().putObjectACL(putObjectACl);