let restore = QCloudPostObjectRestoreRequest.init();
restore.bucket = "examplebucket-1250000000";
restore.object = "object4swift";
restore.restoreRequest.days = 10;
restore.restoreRequest.casJobParameters.tier = .standard;
restore.finishBlock = {(result,error)in
    if error != nil{
        print(error!)
    }else{
        //可以从 outputObject 中获取 response 中 etag 或者自定义头部等信息
        print(result!);
    }}
QCloudCOSXMLService.defaultCOSXML().postObjectRestore(restore);