let getPresign  = QCloudGetPresignedURLRequest.init();
getPresign.bucket = "examplebucket-1250000000" ;
getPresign.httpMethod = "GET";
getPresign.object = "exampleobject";
getPresign.setFinish { (result, error) in
    if error == nil{
        print(result?.presienedURL as Any);
    }}
QCloudCOSXMLService.defaultCOSXML().getPresignedURL(getPresign);