let getBucketVersioning = QCloudGetBucketVersioningRequest.init();
getBucketVersioning.bucket = "examplebucket-1250000000";
getBucketVersioning.setFinish { (config, error) in
    if error != nil{
        print(error!);
    }else{
        print(config!);
    }}
QCloudCOSXMLService.defaultCOSXML().getBucketVersioning(getBucketVersioning);