let req = QCloudListMultipartRequest.init();
req.object = "exampleobject";
req.bucket = "examplebucket-1250000000";
//在初始化分块上传的响应中，会返回一个唯一的描述符（upload ID）
req.uploadId = "example-uploadId";
if self.uploadId != nil {
    req.uploadId = self.uploadId!;
}
req.setFinish { (result, error) in
    if error != nil{
        print(error!);
    }else{
        //从 result 中获取已上传分块信息
        print(result!);
    }}

QCloudCOSXMLService.defaultCOSXML().listMultipart(req);