let initRequest = QCloudInitiateMultipartUploadRequest.init();
initRequest.bucket = "examplebucket-1250000000";
initRequest.object = "exampleobject";
initRequest.setFinish { (result, error) in
    if error != nil{
        print(error!);
    }else{
        //获取分片上传的 uploadId，后续的上传都需要这个 id，请保存起来后续使用
        self.uploadId = result!.uploadId;
        print(result!.uploadId);
    }}
QCloudCOSXMLService.defaultCOSXML().initiateMultipartUpload(initRequest);