let getObjectACL = QCloudGetObjectACLRequest.init();
getObjectACL.bucket = "examplebucket-1250000000";
getObjectACL.object = "exampleobject";
getObjectACL.setFinish { (result, error) in
    if error != nil{
        print(error!)
    }else{
        //可以从 result的accessControlList中获取对象的 acl
        print(result!.accessControlList);
    }}
QCloudCOSXMLService.defaultCOSXML().getObjectACL(getObjectACL);