let exception = XCTestExpectation.init(description: "listParts exception");
let listParts = QCloudListBucketMultipartUploadsRequest.init();
listParts.bucket = "examplebucket-1250000000";
listParts.maxUploads = 100;
listParts.setFinish { (result, error) in
    if error != nil{
        print(error!);
    }else{
        print(result!);
    }
    exception .fulfill();
}
QCloudCOSXMLService.defaultCOSXML().listBucketMultipartUploads(listParts);
self.wait(for: [exception], timeout: 100);