QCloudGetBucketVersioningRequest* request = [[QCloudGetBucketVersioningRequest alloc] init];
request.bucket = @"examplebucket-1250000000";
[request setFinishBlock:^(QCloudBucketVersioningConfiguration* result, NSError* error) {
    //可以从 result 中获取返回信息
}];

[[QCloudCOSXMLService defaultCOSXML] GetBucketVersioning:request];