XCTestExpectation* exp = [self expectationWithDescription:@"get-service"];
QCloudGetServiceRequest* request = [[QCloudGetServiceRequest alloc] init];
[request setFinishBlock:^(QCloudListAllMyBucketsResult* result, NSError* error) {
    //从result中获取返回信息
    XCTAssertNil(error);
    [exp fulfill];
}];
[[QCloudCOSXMLService defaultCOSXML] GetService:request];
[self waitForExpectationsWithTimeout:80 handler:nil];