QCloudGetObjectACLRequest *request = [QCloudGetObjectACLRequest new];
request.object = @"exampleobject";
request.bucket = @"examplebucket-1250000000";
__block QCloudACLPolicy* policy;
[request setFinishBlock:^(QCloudACLPolicy * _Nonnull result, NSError * _Nonnull error) {
    policy = result;
}];

[[QCloudCOSXMLService defaultCOSXML] GetObjectACL:request];