QCloudInitiateMultipartUploadRequest* initrequest = [QCloudInitiateMultipartUploadRequest new];
initrequest.bucket = @"examplebucket-1250000000";
initrequest.object = @"exampleobject";

[initrequest setFinishBlock:^(QCloudInitiateMultipartUploadResult* outputObject, NSError *error) {
    // 获取分片上传的 uploadId，后续的上传都需要这个 id，请保存起来后续使用
    self.uploadId = outputObject.uploadId;
}];

[[QCloudCOSXMLService defaultCOSXML] InitiateMultipartUpload:initrequest];