QCloudListMultipartRequest* request = [QCloudListMultipartRequest new];
request.object = @"exampleobject";
request.bucket = @"examplebucket-1250000000";
//在初始化分块上传的响应中，会返回一个唯一的描述符（upload ID）
request.uploadId = @"example-uploadId";

[request setFinishBlock:^(QCloudListPartsResult * _Nonnull result,
                          NSError * _Nonnull error) {
    //从 result 中获取已上传分块信息
}];

[[QCloudCOSXMLService defaultCOSXML] ListMultipart:request];