QCloudOptionsObjectRequest* request = [[QCloudOptionsObjectRequest alloc] init];
request.bucket =@"examplebucket-1250000000";
request.origin = @"http://cloud.tencent.com";
request.accessControlRequestMethod = @"GET";
request.accessControlRequestHeaders = @"host";
request.object = @"exampleobject";

[request setFinishBlock:^(id outputObject, NSError* error) {
    //可以从 outputObject 中获取 response 中 etag 或者自定义头部等信息
}];

[[QCloudCOSXMLService defaultCOSXML] OptionsObject:request];